[submodule "external/sdk_deploy"]
	path = external/sdk_deploy
	url = https://github.com/DeepRoboticsLab/sdk_deploy.git
[submodule "ws_rslidar/src/rslidar_sdk"]
	path = ws_rslidar/src/rslidar_sdk
	url = https://github.com/RoboSense-LiDAR/rslidar_sdk
